<section id="gigs" class="container">
  <h3>Search for: '{{searchTerm}}'</h3>
    <h1>All Gigs</h1>

    {{#each gigs}}
            <div class="gig">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Budget: {{budget}}</li>
        <li><a href="mailto:{{contactemail}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span>{{technologies}}</span></small>
      </div>
    </div>
    {{else}}
        <h2>No Gigs available currently</h2>
    {{/each}}    
  </section>